{% block body %}

    <div class="col-lg-11">

        <div class="container px-4">

            <div class="row" id="table_items">

            </div>
            <hr>
            <div class="row">
                <table class="table">
                    <thead>
                    <tr class="col-lg-11">
                        <th>#</th>
                        <th>Voucher</th>
                        <th>Desconto</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody id="table_voucher">
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascripts %}
    <script>


        var tableGrid = document.getElementById('table_voucher');
        loadingTableVoucher('voucher', tableGrid)

        function loadingTableVoucher(type, table) {
            const tableItems = document.getElementById('table_items');

            tableItems.innerHTML = `<div class="col-8">
                    <label for="${type}_name">Voucher</label>
                    <input name="${type}_name" id="${type}_name" type="text" class="col-5">

                    <label for="${type}_porcentage">Porcentagem</label>
                    <input name="${type}_porcentage" id="${type}_porcentage" type="text" class="col-2">

                    <label for="${type}_status">Status</label>
                    <input name="${type}_status" id="${type}_status" type="checkbox" class="col-2">
                </div>

                <br>
                <div class="col-3 dark">
                    <button class="btn btn-dark" id="new_${type}">Criar novo</button>

                </div>`;
            table.innerHTML = '';

            $.ajax({
                url: `/get_${type}s`,
                type: 'POST',
                async: false,
                success: function (itemsJson) {
                    for (const item of itemsJson) {
                        table.innerHTML += `
                            <tr>
                                <td>#${item.id}</td>
                                <td>${item.name}</td>
                                <td>${item.porcentage}</td>
                                <td>${item.porcentage}</td>
                                // <td><a href="#" data-grid_type="${item.type == 0 ? 0 : 1}" class="edit_${type}" data-${type}_id="${item.id}" data-${type}_name="${item.name}" ><i class="bi bi-pencil-square black 50"></i></a></td>
                            </tr>`
                    }

                    /**
                     * /new_voucher
                     */
                    $(`#new_${type}`).click(function () {

                        if($(`#${type}_name`).val().length < 1){
                            $.alert({
                                title: 'Nome vazio!',
                                content: 'Favor inserir um nome',
                            });
                            return;
                        }

                        $.ajax({
                            url: `new_${type}`,
                            type: 'POST',
                            data: {
                                itemName: $(`#${type}_name`).val(),
                                itemStatus: $(`#${type}_status`).val(),
                                itemPorcenage: $(`#${type}_porcentage`).val()
                            },
                            success: function () {
                                $.alert({
                                    title: 'Sucesso!',
                                    content: 'Cadastrado com sucesso',
                                });
                                loadingTableVoucher(type, table)

                            }
                        })
                    })

                    $(`.delete_${type}`).click(function () {
                        const itemId = $(this).data(`${type}_id`);
                        $.confirm({
                            title: 'Apagar!',
                            content: `Você tem certeza?! <br>
                                       Isso irá desvincular todos os produtos a esse grid`,
                            buttons: {
                                confirm: function () {
                                    $.ajax({
                                        url: `delete_${type}`,
                                        type: 'POST',
                                        data: {itemId: itemId},
                                        success: function () {
                                            $.alert({
                                                title: 'Sucesso!',
                                                content: 'Apagado com sucesso',
                                            });
                                            loadingTableVoucher(type, table)
                                        }
                                    })
                                },
                                Cancelar: function () {

                                }

                            }
                        });

                    })

                    $(`.edit_${type}`).click(function () {
                        const itemId = $(this).data(`${type}_id`);
                        const itemName = $(this).data(`${type}_name`);
                        const itemType = $(this).data(`${type}_type`);
                        var url = `/admin/get_edit_grid?itemId=${itemId}&itemName=${itemName}&itemType=${itemType}&type=${type}`;
                        $.confirm({
                            async: true,
                            title: 'Editar',
                            columnClass: 'col-md-8',
                            content: `URL:${url}`,
                            buttons: {
                                Confirmar: function () {
                                    $.ajax({
                                        url: `edit_${type}`,
                                        type: 'POST',
                                        data: {
                                            itemId: itemId,
                                            itemName: $(`#${type}_name_edit`).val(),
                                            itemType: $(`#${type}_type_edit`).val(),
                                            itemPosition: $(`#${type}_position_edit`).val(),
                                        },

                                        success: function () {
                                            $.alert({
                                                title: 'Sucesso!',
                                                content: 'Editado com sucesso',
                                            });
                                            loadingTableVoucher(type, table)
                                        }
                                    })

                                },
                                Cancelar: function () {
                                },
                            }

                        });

                    })

                },
                error: function (e) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Occoreu erro!',
                        showConfirmButton: false,
                        timer: 2500
                    });
                }
            });

        }


    </script>

{% endblock %}