{% extends 'base-admin.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5>Menu Atual</h5>
                    <div class="box-menus">
                        <ul class="list-menus">
                            <li>Home</li>
                            <li>Home</li>
                            <li>Home</li>
                            <li>Home</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <form id="submit-new-menu">
                <h5>Adicionar Novo Menu</h5>
                <div class="mb-3">
                    <input type="text" class="form-control input-default" id="reference" name="menu-ref" placeholder="Referencia" disabled>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control input-default" id="nametitle" name="menu-title" placeholder="Titulo do Menu">
                </div>
            </form>
        </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        makeSortString = (function() {
            var translate_re = /[¹²³áàâãäåaaaÀÁÂÃÄÅAAAÆccç©CCÇÐÐèéê?ëeeeeeÈÊË?EEEEE€gGiìíîïìiiiÌÍÎÏ?ÌIIIlLnnñNNÑòóôõöoooøÒÓÔÕÖOOOØŒr®Ršs?ßŠS?ùúûüuuuuÙÚÛÜUUUUýÿÝŸžzzŽZZ]/g;
            var translate = {
                "¹":"1","²":"2","³":"3","á":"a","à":"a","â":"a","ã":"a","ä":"a","å":"a","a":"a","a":"a","a":"a","À":"a","Á":"a","Â":"a","Ã":"a","Ä":"a","Å":"a","A":"a","A":"a",
                "A":"a","Æ":"a","c":"c","c":"c","ç":"c","©":"c","C":"c","C":"c","Ç":"c","Ð":"d","Ð":"d","è":"e","é":"e","ê":"e","?":"e","ë":"e","e":"e","e":"e","e":"e","e":"e",
                "e":"e","È":"e","Ê":"e","Ë":"e","?":"e","E":"e","E":"e","E":"e","E":"e","E":"e","€":"e","g":"g","G":"g","i":"i","ì":"i","í":"i","î":"i","ï":"i","ì":"i","i":"i",
                "i":"i","i":"i","Ì":"i","Í":"i","Î":"i","Ï":"i","?":"i","Ì":"i","I":"i","I":"i","I":"i","l":"l","L":"l","n":"n","n":"n","ñ":"n","N":"n","N":"n","Ñ":"n","ò":"o",
                "ó":"o","ô":"o","õ":"o","ö":"o","o":"o","o":"o","o":"o","ø":"o","Ò":"o","Ó":"o","Ô":"o","Õ":"o","Ö":"o","O":"o","O":"o","O":"o","Ø":"o","Œ":"o","r":"r","®":"r",
                "R":"r","š":"s","s":"s","?":"s","ß":"s","Š":"s","S":"s","?":"s","ù":"u","ú":"u","û":"u","ü":"u","u":"u","u":"u","u":"u","u":"u","Ù":"u","Ú":"u","Û":"u","Ü":"u",
                "U":"u","U":"u","U":"u","U":"u","ý":"y","ÿ":"y","Ý":"y","Ÿ":"y","ž":"z","z":"z","z":"z","Ž":"z","Z":"z","Z":"z"
            };
            return function(s) {
                return(s.replace(translate_re, function(match){return translate[match];}) );
            }
        })();


        $('#nametitle').keyup(function() {
            var filteredRef = makeSortString(this.value.toLowerCase().replace(/\s+/g, '-'));
            $('#reference').val(filteredRef);
        });
    </script>
{% endblock %}

