{% extends 'base.html.twig' %}

{% block title %}{{ titlePage }}{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Termos e Condições - Quinta da Ataboeira</title>
    </head>

    <div class="mt-5 container">
        <h2>Registo de Utilizadores:</h2>

        <p>O registo de utilizadores é simples e gratuito, e permite o acesso á realização de encomendas online.

            A Quinta da Ataboeira garante a confidencialidade de todos os dados fornecidos pelos seus clientes. A recolha e o tratamento de dados realizam-se de forma segura, o que impede a sua perda ou manipulação.

            A Quinta da Ataboeira não divulga nem vende os dados dos seus clientes a terceiros. Todas as informações são confidenciais. O acesso à informação é restrito, sendo utilizada apenas para comunicação com o cliente e o processamento das suas encomendas, nomeadamente pagamento, expedição e assistência pós-venda.

            Todos os clientes têm o direito de acesso, rectificação, cancelamento e oposição dos seus dados. Caso deseje, a qualquer momento, deixar de fazer parte da base de dados da Quinta da Ataboeira, poderá exercer este direito através do seu contacto.

        </p>





    </div>
    </html>

{% endblock %}