<div class="mad-section">
    <div class="mad-banners">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="mad-banner with-icon">
                        <i class="mad-banner-icon"><img src="yummi_svg_icons/delivery3.svg" alt="" class="svg"></i>
                        <div class="mad-banner-content">
                            <h4 class="mad-page-title"><span>Entrega Rápida e</span>
                                Confiável</h4>
                            <a href="#" class="mad-read-more small-size order-frame-btn">Encomendar Agora</a>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="mad-banner with-icon">
                        <i class="mad-banner-icon"><img src="yummi_svg_icons/24_7_preorder.svg" alt="" class="svg"></i>
                        <div class="mad-banner-content">
                            <h4 class="mad-page-title"><span>24/7 Pré-encomenda </span>
                                Disponível</h4>
                            <a href="#" class="mad-read-more small-size order-frame-btn">Encomendar Agora</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="mad-banner with-icon">
                        <i class="mad-banner-icon"><img src="yummi_svg_icons/rewards_program.svg" alt="" class="svg"></i>
                        <div class="mad-banner-content">
                            <h4 class="mad-page-title"><span>Junte-se a Nossa<br></span>
                                Equipa</h4>
                            <a href="/contacto" class="mad-read-more small-size">Contactar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>