<footer id="mad-footer" class="">
    <!--================ Footer row ================-->
    <!--             row media social -->
    <div class="container-fluid d-flex justify-content-center py-2" style="font-size: 14px; background-color:#C7D8F5; color:#1c346c;">
        <div class="container-lg py-3">
            <div class="row" style="font-size: x-large; font-weight: lighter;">
                <div class="d-flex col-lg-12 col-md-4 col-sm-12  align-items-center justify-content-center bf" >
                    <i class="ff-size bi bi-phone me-4 pt-0"></i>
                   <b> <p class="pt-0 mb-0 me-4" >DIVERSAS SOLUÇÕES, A MESMA QUALIDADADE.</p></b>
                    <a href="/page_contact">
                        <button class="btn btn-secondary rounded-pill" style="background-color:#1c346c; color:white">CONTACTE-NOS</button>
                    </a>

                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid mx-auto my-5" style="background-color: #1c346c; color: white">
        <div class="row my-4 pb-5 ms-3">
            <div class="col-lg-2 col-md-4 mx-3 col-sm-6 col-8 mt-4 mt-md-0 mx-auto mx-md-0">
                <h6 class="text-uppercase mb-4" style="color: #8c9cb4;">Links Úteis</h6>

                <div style="font-weight: lighter; font-size: small; color: white;">
                    <p>
                        <a href="/" class="nav-link p-0" style="color: white;" >Início</a>
                    </p>
                    <p>
                        <a href="/" class="nav-link p-0" style="color: white;">Loja Online</a>
                    </p>
                    <p>
                        <a href="/" class="nav-link p-0" style="color: white;">Sobre</a>
                    </p>
                    <p>
                        <a href="/" class="nav-link p-0" style="color: white;">Carrinho</a>
                    </p>
                    <p>
                        <a href="/" class="nav-link p-0" style="color: white;">A Minha Conta</a>
                    </p>
                </div>
                {#            <p>#}
                {#                <a href="#!" class="text-muted nav-link p-0">Repairs & Customs</a>#}
                {#            </p>#}
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mx-3 col-8 mt-4 mt-md-0 mx-auto mx-md-0">
                <h6 class="text-uppercase mb-4" style="color: #8c9cb4;">Ajuda</h6>
                <div style="font-weight: lighter;font-size: small;">
                    <p>
                        <a href="#" class="nav-link p-0" style="color: white;">Envio e Entregas</a>
                    </p>
                    <p>
                        <a href="#" class="nav-link p-0" style="color: white;">Cancelamentos & Devoluções</a>
                    </p>
                    <p>
                        <a href="/privacypolicy" class="nav-link p-0" style="color: white;">Politica de Privacidade</a>
                    </p>
                    <p>
                        <a href="/termsconditions" class="nav-link p-0" style="color: white;">Termos e Condições</a>
                    </p>
                    <p>
                        <a href="https://livroreclamacoes.pt" target="_blank" class="nav-link p-0" style="color: white;">Livro de Reclamações</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-8 mx-3 mt-4 mt-md-0 mx-auto mx-md-0">
                <h6 class="text-uppercase mb-4" style="color: #8c9cb4;">Contate-nos</h6>
                <div style="font-weight: lighter; font-size: small; ">
                    <p>
                        <a href="#" class="nav-link p-0" style="color: white;">Contactos</a>
                    </p>
                    <p>
                        <a href="#" class="nav-link p-0" style="color: white;">Tel: +351 282 443 919 <br> +351 962 920 309</a>
                    </p>
                    <p>
                        <a href="#" class="nav-link p-0" style="color: white;">E-Mail:  geral@gannysflavor.com </a>
                    </p>
                    <p>
                        <a href="#" class="nav-link p-0" style="color: white;">Endereço: Tinhosas, Caixa Postal 544-t 8300-48 Silves| Portugal</a>
                    </p>
                </div>
            </div>
{#            <div class="col-lg-4 col-md-8 col-sm-8 mx-3 mt-4 mt-lg-0">#}
{#                <h6 class="text-uppercase mb-4" style="color: #8c9cb4;">Newsletter</h6>#}
{#                <p style="font-weight: lighter;font-size: small;">Os nossos assinantes de e-mail ficam por dentro de novos produtos,promoções,concursos e muito mais. Inscreva-se, é a coisa certa a fazer.</p>#}
{#                <div class="col-auto">#}
{#                    <label class="sr-only" for="inlineFormInputGroup" style="font-weight: lighter;">O seu Email</label>#}
{#                    <div class="input-group mb-2" style="color: green;">#}
{#                        <input type="text" class="form-control ft-int" id="inlineFormInputGroup" placeholder="O seu Email">#}
{#                        <div class="input-group-prepend">#}
{#                            <div class="input-group-text ft-int-icon"><i class="bi bi-send"></i></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <hr class="m-3 p-0" >
        <div class="container-fluid" style="background-color: #1c346c; ">
            <div class="row justify-content-between">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-7 col-sm-12 d-flex flex-wrap justify-content-center justify-content-md-start" >

                    <img class=" m-2 p-1 img-fluid" style="border-radius: 5px; border: solid 1px grey;" src="/icons/PSicons/Visa.png" alt="QD3MR.png"  />


                    <img class=" m-2 p-1 img-fluid" style="border-radius: 5px; border: solid 1px grey;" src="/icons/PSicons/master.png" alt="QDieQ.png"  />

                </div>
                <div class="container-fluid col-lg-6">
                    <div class="py-2 mt-3">
                        <div class="justify-content-center text-center p-0" style="font-weight: lighter; font-size: small; color: white ;">Copyright &copy; {{ 'now' | date('Y') }} Grannys Flavor. All Rights Reserved. Developed by &copy; {{ 'now' | date('Y') }} Intouchbiz</div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-5 col-sm-12 d-flex justify-content-md-end justify-content-center">
                    <span class="icons-footer mx-1 pe-2"> <i class="bi bi-facebook text-white"></i></span>
                    <span class="icons-footer mx-1 pe-2"><i class="bi bi-twitter text-white"></i> </span>
                    {#                <span class="icons-footer pe-2"> <i class="bi bi-linkedin"></i></span>#}
                    <span class="icons-footer mx-1 pe-2" ><i class="bi bi-instagram text-white"></i> </span>
                </div>
            </div>
        </div>
        <hr class="m-3 p-0">
    </div>
</footer>
