
<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="slider1"
     data-source="gallery" style="background: #fff;">
    <!-- START REVOLUTION SLIDER 5.4.8.1 auto mode -->
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none; background: rgb(255,255,255);
background: linear-gradient(321deg, rgba(255,255,255,1) 0%, rgba(203,235,245,1) 46%);
" data-version="5.4.8.1">
        <ul>
            <!-- SLIDE  -->

            <!-- SLIDE  -->
            <li data-index="rs-5" data-transition="fadetoleftfadefromright,fadefromright,slotslide-horizontal"
                data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"
                data-easein="default,default,default" data-easeout="default,default,default"
                data-masterspeed="default,default,default" data-rotate="0,0,0" data-saveperformance="off" data-title="Slide"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                {#                <img src="front/vendors/revolution/assets/6cbea-bg1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"#}
                {#                     data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>#}
                <!-- LAYERS -->

                <!-- LAYER NR. 25 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-5" data-x="800" data-y="172"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":470,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+7030","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;">
                    <img src="front/vendors/revolution/assets/71681-small5.png" alt="" data-ww="1039px" data-hh="770px" data-no-retina> </div>

                <!-- LAYER NR. 26 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-6" data-x="858" data-y="250"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":710,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6790","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;">
                    <img src="front/vendors/revolution/assets/40800-small4.png" alt="" data-ww="977px" data-hh="889px" data-no-retina> </div>

                <!-- LAYER NR. 27 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-7" data-x="875" data-y="256"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":970,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6530","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;">
                    <img src="front/vendors/revolution/assets/d0628-small3.png" alt="" data-ww="1045px" data-hh="556px" data-no-retina> </div>

                <!-- LAYER NR. 28 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-9" data-x="807" data-y="234"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1350,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6150","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;">
                    <img src="front/vendors/revolution/assets/bc959-small1.png" alt="" data-ww="1040px" data-hh="867px" data-no-retina> </div>

                <!-- LAYER NR. 29 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-10" data-x="874" data-y="303"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1770,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5730","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;">
                    <img src="front/vendors/revolution/assets/018e7-small4.png" alt="" data-ww="922px" data-hh="861px" data-no-retina> </div>

                <!-- LAYER NR. 30 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-12" data-x="811" data-y="231"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":310,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+7190","speed":2000,"frame":"999","to":"x:right;rZ:90deg;","ease":"Power4.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 10;">
                    <div class="rs-looped rs-rotate" data-easing="Linear.easeNone" data-startdeg="0" data-enddeg="20"
                         data-speed="19" data-origin="50% 50%"><img src="front/vendors/revolution/assets/tabua.png" alt="" data-ww="889px"
                                                                    data-hh="704px" data-no-retina> </div>
                </div>

                <!-- LAYER NR. 31 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-14" data-x="858" data-y="792"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1310,"speed":2000,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5690","speed":2000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 11;">
                    <div class="rs-looped rs-pendulum" data-easing="" data-startdeg="-20" data-enddeg="-14" data-speed="2"
                         data-origin="50% 50%"><img src="front/vendors/revolution/assets/cola.png" alt="" data-ww="477" data-hh="442" data-no-retina>
                    </div>
                </div>

                <!-- LAYER NR. 32 -->
                <div class="tp-caption rev-btn " id="slide-5-layer-27" data-x="255" data-y="816" data-width="['auto']"
                     data-height="['auto']" data-type="button" data-responsive_offset="on"
                     data-frames='[{"delay":2510,"speed":1200,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"+5290","speed":1200,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(184,0,31);bw:0px 0px 0px 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[35,35,35,35]"
                     data-paddingright="[115,115,115,115]" data-paddingbottom="[29,29,29,29]" data-paddingleft="[115,115,115,115]"
                     style="z-index: 12; white-space: nowrap; font-size: 32px; line-height: 17px; font-weight: 600; color: #232223;font-family:Josefin Sans;background-color:rgb(235,225,23);border-color:rgb(184,0,31);border-style:solid;border-width:0px 3px 5px 0px;border-radius:40px 40px 40px 40px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    Encomendar! </div>

                <!-- LAYER NR. 33 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-26" data-x="283" data-y="911" data-width="['auto']"
                     data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":3130,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4670","speed":800,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 13; white-space: nowrap; font-size: 16px; line-height: 23px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Lato;">
                    A nossa Tabua Mista da Casa </div>

                <!-- LAYER NR. 34 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-30" data-x="253" data-y="339" data-width="['469']"
                     data-height="['auto']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":830,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+6070","split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 14; min-width: 469px; max-width: 469px; white-space: nowrap; font-size: 111px; line-height: 160px; font-weight: 700; color: #e6352f; letter-spacing: -2px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    Tabua Mista </div>

                <!-- LAYER NR. 35 -->
                <div class="tp-caption 200px   tp-resizeme" id="slide-5-layer-31" data-x="252" data-y="450"
                     data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1190,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+5510","split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 15; white-space: nowrap; font-size: 64px; line-height: 120px; font-weight: 700; color: #e6352f; letter-spacing: 0px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    de Enchidos </div>

                <!-- LAYER NR. 36 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-32" data-x="255" data-y="530" data-width="['auto']"
                     data-height="['auto']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1510,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power2.easeInOut"},{"delay":"+5990","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 16; white-space: nowrap; font-size: 64px; line-height: 130px; font-weight: 700; color: #e6352f; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-decoration:underline;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    A FABIOS </div>

                <!-- LAYER NR. 37 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-33" data-x="252" data-y="683" data-width="['46']"
                     data-height="['81']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1810,"speed":1000,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+6190","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 17; min-width: 46px; max-width: 46px; max-width: 81px; max-width: 81px; white-space: nowrap; font-size: 65px; line-height: 80px; font-weight: 700; color: #ebe117; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    € </div>

                <!-- LAYER NR. 38 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-34" data-x="289" data-y="673" data-width="['101']"
                     data-height="['111']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1950,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+5550","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 18; min-width: 101px; max-width: 101px; max-width: 111px; max-width: 111px; white-space: nowrap; font-size: 104px; line-height: 110px; font-weight: 700; color: #ebe117; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    9 </div>

                <!-- LAYER NR. 39 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-35" data-x="358" data-y="672" data-width="['88']"
                     data-height="['71']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2110,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+5190","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 19; min-width: 88px; max-width: 88px; max-width: 71px; max-width: 71px; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ebe117; letter-spacing: -2px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    .99 </div>

                <!-- LAYER NR. 40 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-36" data-x="357" data-y="731" data-width="['78']"
                     data-height="['26']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2390,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power2.easeInOut"},{"delay":"+5110","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 20; min-width: 78px; max-width: 78px; max-width: 26px; max-width: 26px; white-space: nowrap; font-size: 17px; line-height: 25px; font-weight: 700; color: #ebe117; letter-spacing: 0px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    Levantar </div>

                <!-- LAYER NR. 41 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-37" data-x="496" data-y="666" data-width="['46']"
                     data-height="['81']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2530,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+4970","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 21; min-width: 46px; max-width: 46px; max-width: 81px; max-width: 81px; white-space: nowrap; font-size: 65px; line-height: 80px; font-weight: 700; color: #ebe117; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    € </div>

                <!-- LAYER NR. 42 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-38" data-x="535" data-y="652" data-width="['97']"
                     data-height="['111']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2670,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+4730","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 22; min-width: 97px; max-width: 97px; max-width: 111px; max-width: 111px; white-space: nowrap; font-size: 104px; line-height: 110px; font-weight: 700; color: #ebe117; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    11 </div>

                <!-- LAYER NR. 43 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-39" data-x="615" data-y="648" data-width="['90']"
                     data-height="['71']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2790,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+4510","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 23; min-width: 90px; max-width: 90px; max-width: 71px; max-width: 71px; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ebe117; letter-spacing: -2px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    .99 </div>

                <!-- LAYER NR. 44 -->
                <div class="tp-caption   tp-resizeme" id="slide-5-layer-40" data-x="614" data-y="706" data-width="['93']"
                     data-height="['26']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2990,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power2.easeInOut"},{"delay":"+4510","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 24; min-width: 93px; max-width: 93px; max-width: 26px; max-width: 26px; white-space: nowrap; font-size: 17px; line-height: 25px; font-weight: 700; color: #ebe117; letter-spacing: 0px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    Entrega </div>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-6" data-transition="fadetoleftfadefromright,fadefromright,slotslide-horizontal"
                data-slotamount="default,default,default" data-hideafterloop="0" data-hideslideonmobile="off"
                data-easein="default,default,default" data-easeout="default,default,default"
                data-masterspeed="default,default,default" data-rotate="0,0,0" data-saveperformance="off" data-title="Slide"
                data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                {#                <img src="front/vendors/revolution/assets/6cbea-bg1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"#}
                {#                     data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>#}
                <!-- LAYERS -->

                <!-- LAYER NR. 45 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-6" data-x="834" data-y="768"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":710,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6790","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;">
                    <img src="front/vendors/revolution/assets/ebf82-org4.png" alt="" data-ww="512" data-hh="428" data-no-retina> </div>

                <!-- LAYER NR. 46 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-7" data-x="1419" data-y="242"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":970,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6530","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;">
                    <img src="front/vendors/revolution/assets/a9096-org3.png" alt="" data-ww="453" data-hh="385" data-no-retina> </div>

                <!-- LAYER NR. 47 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-9" data-x="849" data-y="276"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1350,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6150","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7;">
                    <img src="front/vendors/revolution/assets/294a4-org2.png" alt="" data-ww="294px" data-hh="375px" data-no-retina> </div>

                <!-- LAYER NR. 48 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-10" data-x="1430" data-y="727"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1770,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5730","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8;">
                    <img src="front/vendors/revolution/assets/de064-org1.png" alt="" data-ww="495px" data-hh="433px" data-no-retina> </div>

                <!-- LAYER NR. 49 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-12" data-x="1083" data-y="311"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":310,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+7190","speed":2000,"frame":"999","to":"x:right;rZ:90deg;","ease":"Power4.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;">
                    <div class="rs-looped rs-rotate" data-easing="Linear.easeNone" data-startdeg="0" data-enddeg="20"
                         data-speed="19" data-origin="50% 50%"><img src="front/vendors/revolution/assets/5fb1e-glass.png" alt="" data-ww="500px"
                                                                    data-hh="526px" data-no-retina> </div>
                </div>

                <!-- LAYER NR. 50 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-14" data-x="1222" data-y="760"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1310,"speed":2000,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5690","speed":2000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 10;">
                    <div class="rs-looped rs-pendulum" data-easing="" data-startdeg="-20" data-enddeg="-14" data-speed="2"
                         data-origin="50% 50%"><img src="front/vendors/revolution/assets/donut2.png" alt="" data-ww="347" data-hh="348" data-no-retina>
                    </div>
                </div>

                <!-- LAYER NR. 51 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-13" data-x="1423" data-y="548"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":1930,"speed":1500,"frame":"0","from":"x:right;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+5570","speed":2000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 11;">
                    <div class="rs-looped rs-pendulum" data-easing="" data-startdeg="-20" data-enddeg="-8" data-speed="2"
                         data-origin="50% 50%"><img src="front/vendors/revolution/assets/donut3.png" alt="" data-ww="399px" data-hh="260px"
                                                    data-no-retina> </div>
                </div>

                <!-- LAYER NR. 52 -->
                <div class="tp-caption rev-btn " id="slide-6-layer-27" data-x="255" data-y="816" data-width="['auto']"
                     data-height="['auto']" data-type="button" data-responsive_offset="on"
                     data-frames='[{"delay":2510,"speed":1200,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"+5290","speed":1200,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(184,0,31);bw:0px 0px 0px 0;"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[35,35,35,35]"
                     data-paddingright="[115,115,115,115]" data-paddingbottom="[29,29,29,29]" data-paddingleft="[115,115,115,115]"
                     style="z-index: 12; white-space: nowrap; font-size: 32px; line-height: 17px; font-weight: 600; color: #232223; font-family:Josefin Sans;background-color:rgb(235,225,23);border-color:rgb(184,0,31);border-style:solid;border-width:0px 3px 5px 0px;border-radius:40px 40px 40px 40px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                    ORDER NOW! </div>

                <!-- LAYER NR. 53 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-26" data-x="283" data-y="911" data-width="['auto']"
                     data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":3130,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4670","speed":800,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 13; white-space: nowrap; font-size: 16px; line-height: 23px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Lato;">
                    Order 2 donuts, 1 coffee or tea and get 1 donut for free! </div>

                <!-- LAYER NR. 54 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-16" data-x="861" data-y="610"
                     data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image"
                     data-responsive_offset="on"
                     data-frames='[{"delay":870,"speed":2000,"frame":"0","from":"x:right;rX:0deg;rY:0deg;rZ:90deg;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6130","speed":2000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 14;">
                    <div class="rs-looped rs-pendulum" data-easing="" data-startdeg="-20" data-enddeg="-10" data-speed="2"
                         data-origin="50% 50%"><img src="front/vendors/revolution/assets/donut1.png" alt="" data-ww="368" data-hh="250" data-no-retina>
                    </div>
                </div>

                <!-- LAYER NR. 55 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-30" data-x="246" data-y="315" data-width="['469']"
                     data-height="['auto']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":830,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+5870","split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 15; min-width: 469px; max-width: 469px; white-space: nowrap; font-size: 83px; line-height: 120px; font-weight: 700; color: #e6352f; letter-spacing: -2px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    PEQUENO ALMOÇO </div>

                <!-- LAYER NR. 56 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-31" data-x="244" data-y="418" data-width="['473']"
                     data-height="['auto']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1190,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+5710","split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 16; min-width: 473px; max-width: 473px; white-space: nowrap; font-size: 111px; line-height: 150px; font-weight: 700; color: #e6352f; letter-spacing: 0px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    ESPECIAL </div>

                <!-- LAYER NR. 57 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-32" data-x="256" data-y="530" data-width="['auto']"
                     data-height="['auto']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1510,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power2.easeInOut"},{"delay":"+5990","speed":1500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 17; white-space: nowrap; font-size: 61px; line-height: 130px; font-weight: 700; color: #e6352f; letter-spacing: -2px;font-family:Josefin Sans;font-style:italic;text-decoration:underline;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    EXPERIMENTE </div>

                <!-- LAYER NR. 58 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-33" data-x="252" data-y="683" data-width="['46']"
                     data-height="['81']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1810,"speed":1000,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+6190","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 18; min-width: 46px; max-width: 46px; max-width: 81px; max-width: 81px; white-space: nowrap; font-size: 65px; line-height: 80px; font-weight: 700; color: #000; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #fcd40b, 4px 4px 0 #fcd40b;">
                    € </div>

                <!-- LAYER NR. 59 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-34" data-x="289" data-y="673" data-width="['101']"
                     data-height="['111']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":1950,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+5550","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 19; min-width: 101px; max-width: 101px; max-width: 111px; max-width: 111px; white-space: nowrap; font-size: 104px; line-height: 110px; font-weight: 700; color: #000; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #fcd40b, 4px 4px 0 #fcd40b;">
                    3 </div>

                <!-- LAYER NR. 60 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-35" data-x="348" data-y="672" data-width="['88']"
                     data-height="['71']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2110,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+5190","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 20; min-width: 88px; max-width: 88px; max-width: 71px; max-width: 71px; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #000; letter-spacing: -2px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #fcd40b, 4px 4px 0 #fcd40b;">
                    .99 </div>

                <!-- LAYER NR. 61 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-36" data-x="357" data-y="731" data-width="['78']"
                     data-height="['26']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2390,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power2.easeInOut"},{"delay":"+5110","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 21; min-width: 78px; max-width: 78px; max-width: 26px; max-width: 26px; white-space: nowrap; font-size: 17px; line-height: 25px; font-weight: 700; color: #000; letter-spacing: 0px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #fcd40b, 4px 4px 0 #fcd40b;">
                    Levantar </div>

                <!-- LAYER NR. 62 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-37" data-x="510" data-y="664" data-width="['46']"
                     data-height="['81']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2530,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+4970","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 22; min-width: 46px; max-width: 46px; max-width: 81px; max-width: 81px; white-space: nowrap; font-size: 65px; line-height: 80px; font-weight: 700; color: #ebe117; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    € </div>

                <!-- LAYER NR. 63 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-38" data-x="551" data-y="652" data-width="['97']"
                     data-height="['111']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2670,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+4830","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 23; min-width: 97px; max-width: 97px; max-width: 111px; max-width: 111px; white-space: nowrap; font-size: 104px; line-height: 110px; font-weight: 700; color: #ebe117; letter-spacing: -5px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    5 </div>

                <!-- LAYER NR. 64 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-39" data-x="615" data-y="648" data-width="['90']"
                     data-height="['71']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2790,"split":"chars","splitdelay":0.1000000000000000055511151231257827021181583404541015625,"speed":1500,"split_direction":"forward","frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power3.easeInOut"},{"delay":"+4510","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 24; min-width: 90px; max-width: 90px; max-width: 71px; max-width: 71px; white-space: nowrap; font-size: 65px; line-height: 70px; font-weight: 700; color: #ebe117; letter-spacing: -2px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    .99 </div>

                <!-- LAYER NR. 65 -->
                <div class="tp-caption   tp-resizeme" id="slide-6-layer-40" data-x="614" data-y="706" data-width="['93']"
                     data-height="['26']" data-type="text" data-responsive_offset="on"
                     data-frames='[{"delay":2990,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;skY:-5px;","ease":"Power2.easeInOut"},{"delay":"+4510","speed":1000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                     data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                     style="z-index: 25; min-width: 93px; max-width: 93px; max-width: 26px; max-width: 26px; white-space: nowrap; font-size: 17px; line-height: 25px; font-weight: 700; color: #ebe117; letter-spacing: 0px;font-family:Josefin Sans;font-style:italic;text-shadow:3px 3px 0 #b8001f, 4px 4px 0 #b8001f;">
                    Entrega </div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div><!-- END REVOLUTION SLIDER -->
<!--================ Slider Revolution ================-->
<div dir="ltr" class="rev_slider_wrapper fullscreenbanner-container"></div>
<!--================ End of Slider Revolution ================-->
