{% extends 'base.html.twig' %}

{% block title %}{{titlePage}}{% endblock %}

{% block body %}
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="title-article">
                    <span>Politica de Privacidade</span>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="image-article">
                    <img src="">
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="article-blog-info">
                    <p><b>POLÍTICA DE PRIVACIDADE E DE COOKIES</b></p>

                    <p> </p>

                    <p>SÍNTESE DA NOSSA POLÍTICA DE PRIVACIDADE</p>

                    <p> </p>

                    <p>QUEM SOMOS. Somos a Quinta da Ataboeira LDA. , e processamos os seus dados pessoais como controladores conjuntos. Quer isto dizer que somos responsáveis, de forma conjunta, pela forma como tratamos e protegemos os seus dados. </p>

                    <p> </p>

                    <p>PARA QUE UTILIZAMOS OS SEUS DADOS. Utilizaremos os seus dados (recolhidos online ou presencialmente), entre outras finalidades, para gerir o seu registo enquanto utilizador, para gerir as suas compras de produtos ou serviços, para responder às suas questões e, se desejar, para lhe enviar comunicações personalizadas. </p>

                    <p> </p>

                    <p>PORQUE UTILIZAMOS OS SEUS DADOS. Temos legitimidade para tratar os seus dados por vários motivos. O principal motivo prende-se com a nossa necessidade de tratar os seus dados para executar o contrato que aceita celebrar connosco quando efetua o registo e quando efetua uma compra ou desfruta de algum dos nossos serviços ou funcionalidades. Também utilizamos os seus dados por outros motivos, como por exemplo, para responder às suas questões ou para lhe enviar newsletters, cujo envio nos tenha solicitado</p>

                    <p> </p>

                    <p>COM QUEM PARTILHAMOS OS SEUS DADOS. Partilhamos os seus dados com prestadores de serviços que nos fornecem assistência ou apoio, sendo estes empresas que fazem parte do Grupo Inditex ou fornecedores terceiros, dentro e fora da União Europeia. </p>

                    <p> </p>

                    <p>OS SEUS DIREITOS. Tem o direito de aceder, retificar ou eliminar os seus dados pessoais. Em determinados casos, são-lhe reconhecidos outros direitos, tais como, por exemplo, o direito de se opor à utilização dos seus dados ou à transferência dos seus dados, conforme explicado de forma mais aprofundada abaixo.</p>

                    <p> </p>

                    <p>Aconselhamos que leia na íntegra a nossa Política de Privacidade e de Cookies, a qual se encontra descrita abaixo, de forma a melhor entender a forma como utilizamos os seus dados pessoais e quais os seus direitos relativamente aos seus dados.</p>

                    <p> </p>

                    <p>ANTES DE COMEÇAR… • Nesta Política de Privacidade e Cookies irá encontrar todas as informações relevantes relativas à sua utilização dos dados pessoais dos nossos utilizadores e clientes, independentemente do canal ou dos meios (online ou presencialmente) da Quinta da Ataboeira LDA  que utilize para interagir connosco. </p>

                    <p>• Somos transparentes relativamente à utilização que fazemos dos seus dados pessoais, para que compreenda as implicações da forma como utilizamos os seus dados e os direitos que lhe são concedidos relativamente aos seus dados: </p>

                    <p>o Colocamos ao seu dispor de forma permanente todas as informações incluídas na presente Política de Privacidade e de Cookies, que pode verificar quando considerar apropriado e, além disso,</p>

                    <p> poderá ainda encontrar informações adicionais relativamente à utilização que fazemos dos seus dados à medida que interage connosco.</p>

                    <p>• Seguem-se alguns dos termos que utilizamos regularmente na presente Política de Privacidade e de Cookies: </p>

                    <p>Quando nos referimos à nossa Plataforma, referimo-nos, em geral, a qualquer um dos canais ou meios, digital ou presencialmente, que pode ter utilizado para interagir connosco. </p>

                    <p>Os principais são: </p>

                   {# <p>▪ O nosso Site, <a href="http://www.ryot.pt/">www.ryot.pt</a>  .</p>#}

{#                    <p> ▪ A nossa App da <a href="http://www.ryot.pt/">www.ryot.pt</a> , ou seja, incluindo tanto a aplicação móvel que instalou no seu dispositivo móvel como outras que possamos utilizar nas nossas lojas. </p>#}

                    <p>▪ Em pessoa, em qualquer uma das nossas Quinta da Ataboeira.</p>

                    <p> </p>

                    <p>QUEM É O RESPONSÁVEL PELO TRATAMENTO DOS SEUS DADOS?</p>

                    <p>Os controladores dos seus dados são: Quinta da Ataboeira LDA.</p>

                    <p>, empresa atualmente a operar em Portugal na venda de produtos da marca Quinta da Ataboeira. o Endereço postal: <ENDEREÇO>  Portugal. o Endereço de e-mail do Responsável pela Proteção de Dados: <a href="">EMAIL</a> </p>

                    <p> </p>

                    <p>Por outras palavras, a Quinta da Ataboeira LDA.(conjuntamente “Nós”, ou “Controladores Conjuntos”), são Controladores Conjuntos dos dados. Quer isto dizer que regulamos e somos conjuntamente responsáveis pelo processamento e pela proteção dos seus dados pessoais.</p>

                    <p> </p>

                    <p>PORQUE TRATAMOS OS SEUS DADOS PESSOAIS Dependendo da finalidade para a qual tratamos os seus dados em cada momento, conforme explicado acima, temos a necessidade de tratar alguns dados que, em geral, serão, dependendo de cada caso, os seguintes: </p>

                    <p> </p>

                    <p>▪ Os seus dados de identificação (por exemplo, o seu nome, apelido, idioma e país a partir do qual interage connosco, dados de contacto etc.); </p>

                    <p>▪ informações econômicas e de transações (por exemplo, os seus dados de pagamento ou do cartão, informações relativas às suas compras, encomendas, devoluções, etc.); </p>

                    <p>▪ dados de ligação, geolocalização e/ou navegação (caso interaja connosco através do seu telemóvel, por exemplo): </p>

                    <p>▪ informações comerciais (por exemplo, caso tenha subscrito a nossa newsletter),</p>

                    <p> ▪ informações sobre os seus gostos e preferências. Recorde que, quando solicitamos que preencha os seus dados pessoais para lhe dar acesso a qualquer funcionalidade ou serviço da Plataforma, iremos assinalar determinados campos como obrigatórios, uma vez que estas são as informações que precisamos para lhe podermos fornecer o serviço ou dar acesso à funcionalidade em questão. Tenha em consideração que, se decidir não disponibilizar os referidos dados, pode não conseguir completar o seu registo de utilizador ou pode não conseguir desfrutar desses serviços ou funcionalidades. Em casos específicos, um terceiro poder-nos-á fornecer informações sobre si utilizando uma característica ou serviço na Plataforma, por exemplo, enviando-lhe um cartão oferta ou enviando uma encomenda para a sua morada. Nesses casos, processamos apenas os dados sempre que tal for relevante para esta característica ou serviço, conforme indicado nesta Política de Privacidade e Cookies. Dependendo da forma como interage com a nossa Plataforma, isto é, dependendo dos serviços, produtos ou funcionalidades das quais deseja desfrutar, iremos tratar os seus dados pessoais para as seguintes finalidades:</p>

                    <p> </p>

                    <p> </p>

                    <table width="NaN">
                        <colgroup>
                            <col />
                            <col />
                        </colgroup>
                        <tbody>
                        <tr>
                            <td width="NaN">
                                <p>FINALIDADE</p>
                            </td>
                            <td width="NaN">
                                <ul>
                                    <li aria-level="1">info</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Para gerir o seu registo na qualidade de utilizador da Plataforma </p>
                            </td>
                            <td width="NaN">
                                <p>Caso decida tornar-se um utilizador registado da nossa Plataforma, temos a necessidade de tratar os seus dados para o identificar como utilizador da Plataforma e para lhe dar acesso às suas variadas funcionalidades, produtos e serviços que se encontram à sua disposição enquanto utilizador registado. Pode cancelar a sua conta de utilizador registado ao entrar em contacto connosco através do Serviço de atendimento ao cliente</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Para o desenvolvimento, cumprimento e execução do contrato de compra ou prestação de serviços que celebrou Connosco na Plataforma </p>
                            </td>
                            <td width="NaN">
                                <p>Esta finalidade inclui o tratamento dos seus dados, sobretudo: ▪ Para o contactar relativamente a atualizações ou comunicações informativas relacionadas com as funcionalidades, produtos ou serviços contratados, incluindo inquéritos sobre a qualidade e para estabelecer um grau de satisfação do cliente com o serviço prestado; ▪ Para efetuar a gestão do pagamento dos produtos que adquiriu, independentemente do método de pagamento utilizado. Por exemplo: ▪ Se, ao comprar qualquer um dos nossos produtos através da Página Web ou da App, optar por ativar a funcionalidade de guardar os dados do seu cartão para futuras compras (sempre que esta característica estiver disponível), teremos de tratar os dados indicados para ativação e desenvolvimento dessa funcionalidade. O consentimento para a ativação desta funcionalidade permite que o preenchimento automático dos seus dados de pagamento surja em compras posteriores para não ter de voltar a introduzi-los em cada novo processo, e estes dados serão considerados válidos e vigentes para compras posteriores. Pode alterar ou cancelar os seus cartões em qualquer momento através da secção relativa às informações de pagamento, tanto da sua conta de utilizador registado no Site, como da funcionalidade Wallet da App ▪ Se utilizar a funcionalidade Wallet da App para pagar as suas compras em pessoa, necessitamos de processar os seus dados para a ativar, para que possa começar as suas compras nas lojas físicas da Quinta da Ataboeira LDA.</p>

                                <p> (“lojas físicas”) indicadas para tal propósito. ▪ Ativar os mecanismos necessários para evitar e detectar utilizações não autorizadas da Plataforma (por exemplo, durante o processo de compra e devoluções e ainda para evitar potenciais fraudes cometidas contra si e/ou contra nós. Se considerarmos que a transação possa ser fraudulenta, ou se detectarmos um comportamento anormal que indique uma tentativa de utilização fraudulenta das nossas características, produtos ou serviços, este processamento poderá resultar em consequências como, por exemplo, bloqueio da transação, ou eliminação da conta de utilizador. ▪ De modo a gerir eventuais devoluções ou trocas após a sua compra e efetuar a gestão de pedidos de informações de disponibilidade de artigos, reservas de produtos através da Plataforma, dependendo da disponibilidade de tais opções em cada momento.</p>

                                <p>Para efeitos de faturação e para lhe disponibilizarmos os talões e as faturas das compras que efetuou através da Plataforma. ▪ De modo a assegurar que consegue utilizar outras funcionalidades ou serviços disponíveis como, por exemplo, compra, receção, gestão e utilização do Cartão Oferta, ou do Voucher Oferta, e para lhe proporcionar acesso e utilização do Wi-Fi que disponibilizamos aos nossos clientes nas Lojas Físicas.</p>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p> </p>

                    <table width="NaN">
                        <colgroup>
                            <col />
                            <col />
                        </colgroup>
                        <tbody>
                        <tr>
                            <td width="NaN">
                                <p>Para satisfazer solicitações ou pedidos que realize através dos canais de Apoio ao cliente</p>
                            </td>
                            <td width="NaN">
                                <p>Apenas tratamos os dados pessoais que são estritamente necessários para efetuar a gestão ou resolver a sua solicitação ou pedido. Se nos contactar via telefone, a chamada poderá ser gravada para propósitos de qualidade e para que possamos responder ao seu pedido.</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Para efeitos de marketing.</p>
                            </td>
                            <td width="NaN">
                                <p>Esta finalidade inclui o tratamento dos seus dados, principalmente, para: ▪ Personalizar os serviços que lhe oferecemos e permitir-nos indicar-lhe recomendações com base nas suas interações na Plataforma e uma análise do seu perfil de utilizador (por exemplo, com base no seu histórico de compras e navegação). ▪ Se e quando subscrever a nossa Newsletter, iremos tratar os seus dados pessoais para efetuar a gestão da sua subscrição, incluindo para enviar informações personalizadas sobre os nossos produtos ou serviços através de vários meios (como por e-mail ou SMS). Podemos ainda disponibilizar-lhe estas informações através de notificações push. caso as tenha ativado no seu dispositivo móvel. ▪ Deste modo, tenha em consideração que o referido tratamento dos dados implica a análise do seu perfil de utilizador ou de cliente para estabelecer as suas preferências e, por conseguinte, quais os produtos e serviços que mais se adequam ao seu estilo quando lhe enviamos informações. Por exemplo, tendo por base o seu histórico de compras e de navegação (isto é, dependo dos artigos nos quais clicou), iremos sugerir-lhe artigos que pensamos que lhe podem interessar e, se for um utilizador registado, iremos proporcionar-lhe a funcionalidade de "recuperação de carrinho". </p>

                                <p>Lembre-se de que pode cancelar a subscrição da Newsletter a qualquer momento sem qualquer custo através da secção de "Newsletter" da Plataforma, para além do cancelamento através das instruções que lhe disponibilizamos em cada comunicação. Se não desejar receber notificações push, poderá desativar esta opção no seu telemóvel. ▪ Mostrar-lhe publicidade na Internet que poderá ver quando visitar páginas web e apps, por exemplo, nas redes sociais. A publicidade que verá poderá ser aleatória, mas em algumas ocasiões poderá ser publicidade relacionada com as suas preferências ou histórico de compras e navegação. ▪ Se utilizar as redes sociais, poderemos fornecer às empresas com as quais colaboramos determinadas informações para que lhes possam mostrar publicidade ZARA e, em geral, lhe oferecer a si e aos utilizadores como você publicidade que possa ter em conta o seu perfil em perfis das ditas redes sociais. Se desejar informações sobre a utilização dos seus dados e como a publicidade funciona nas redes sociais, recomendamos que reveja as políticas de privacidade das páginas de redes sociais nas quais tenha perfis. ▪ Também utilizamos os seus dados para realizar análise de segmento e medição da publicidade que mostramos aos utilizadores em algumas das plataformas dos nossos colaboradores. Para tal, colaboramos com estes terceiros que nos oferecem a tecnologia necessária (por exemplo, cookies, pixeis, SDK) para utilizar tais serviços. Não se esqueça de que, apesar de não fornecermos dados pessoais identificativos a estes colaboradores, proporcionamo-lhes alguma forma de identificador de cada vez (por exemplo, uma ID de publicidade associada ao dispositivo, um identificador associado a um cookie, etc.). Se gostaria de receber mais informações a este respeito, consulte a nossa Política de Cookies. Da mesma forma, poderá eliminar a sua ID de publicidade ou desativar publicidade personalizada no seu dispositivo (se tiver a nossa App instalada num dispositivo iOS pode configurar as suas preferências em Definições/Privacidade/Publicidade. Se o seu dispositivo for Android, aceda a Definições/Google/Publicidade). ▪ Enriquecimento de dados: Quando reunimos os seus dados pessoais a partir de uma variedade de fontes, podemos consolidá-los sob determinadas circunstâncias com o objetivo de melhorar o nosso entendimento das suas necessidades e preferências relacionadas com os nossos produtos e serviços (incluindo propósitos de análises, geração de perfis de utilizador, estudos de marketing, inquéritos de qualidade e melhoria das nossas interações com os nossos clientes). Isto refere-se, por exemplo, à forma como combinamos as suas informações se tiver uma conta registada e, utilizando o mesmo email ligado à sua conta, faz uma compra como convidado, ou para informações que são automaticamente compiladas (como, por exemplo, endereços IP e MAC ou metadados) que possamos ligar às informações que nos forneceu diretamente através da sua atividade na Plataforma ou em qualquer uma das nossas lojas (por exemplo, informações relacionadas com as suas compras, quer em lojas físicas ou online, as suas preferências, etc.). </p>


                                <p>Realizar ações promocionais (por exemplo, para a organização de concursos ou para enviar a lista dos artigos guardados para o endereço de e-mail que nos tenha indicado). Ao participar em qualquer ação promocional, autoriza-nos a tratar os dados que nos disponibilizou dependendo da ação promocional e a comunicá-los através de diversos meios como redes sociais ou na própria Plataforma. Em cada ação promocional que participar terá disponíveis os termos e condições através dos quais lhe daremos informações mais detalhadas sobre o tratamento dos seus dados pessoais. ▪ Difundir na Plataforma, ou através dos nossos canais nas redes sociais, fotografias ou imagens que partilhou de forma pública, sempre que nos der o seu consentimento expresso para o efeito.</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Análise da funcionalidade e da qualidade para melhorar os nossos serviços</p>
                            </td>
                            <td width="NaN">
                                <p>Se aceder à nossa Plataforma, informamos que trataremos os seus dados de navegação para efeitos analíticos e estatísticos, isto é, para entender de que forma os utilizadores interagem com a nossa Plataforma e com as ações que implementamos em outras páginas web e apps, para que possamos melhorar os nossos serviços. Além disso, realizaremos ocasionalmente inquéritos e ações de qualidade destinados a conhecer o grau de satisfação dos nossos clientes e utilizadores e a detetar as áreas em que podemos melhorar.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p> </p>

                    <p> </p>

                    <p>DE QUE MODO ESTAMOS LEGALMENTE AUTORIZADOS PARA TRATAR OS SEUS DADOS?</p>

                    <p> </p>

                    <p>Os fundamentos jurídicos que nos permitem tratar os seus dados pessoais também dependem da finalidade para a qual os tratamos, conforme se explica na tabela seguinte:</p>

                    <p><br />
                        <br />
                    </p>

                    <table width="NaN">
                        <colgroup>
                            <col />
                            <col />
                        </colgroup>
                        <tbody>
                        <tr>
                            <td width="NaN">
                                <p>Finalidade</p>
                            </td>
                            <td width="NaN">
                                <p>Legitimidade</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Gerir o seu registo como utilizador da Plataforma </p>
                            </td>
                            <td width="NaN">
                                <p>O tratamento dos seus dados é necessário em conformidade com os termos que regulam a utilização da Plataforma. Por outras palavras, para se poder registar como utilizador na Plataforma, precisamos de tratar os seus dados pessoais, caso contrário não poderíamos gerir o seu registo.</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Desenvolvimento, cumprimento e execução do contrato de compra ou de prestação de serviços</p>
                            </td>
                            <td width="NaN">
                                <p>O tratamento dos seus dados é necessário para a celebração do contrato de compra ou de prestação de serviços consigo. Determinado processamento de dados relacionados com o processo de compra é ativado apenas porque o pede ou autoriza, tal como é o caso de armazenamento de dados de pagamento (cartão) para compras futuras, ou o processamento de dados necessários para ler os recibos através da secção Wallet da App, ou para fornecer-lhe as funcionalidades Volto em Breve / Volto Já (onde tais funcionalidades estiverem disponíveis). Nestes casos, o tratamento que fazemos dos seus dados tem por base o seu próprio consentimento. Consideramos que temos um interesse legítimo para realizar as verificações necessárias para detetar e prevenir possíveis fraudes, ou utilizações fraudulentas da Plataforma, por exemplo, quando fazer uma compra ou devolução. Entendemos que o processamento destes dados é positivo para todas as partes envolvidas: Para si, uma vez que nos permite criar medidas para o proteger contra tentativas de fraude perpetradas por terceiros; para nós, uma vez que nos permite evitar utilizações não autorizadas da Plataforma; para todos os nossos clientes e sociedade, uma vez que também protege o seu interesse assegurando que as atividades fraudulentas são desencorajadas e detetadas quando ocorrem.</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Apoio ao Cliente</p>
                            </td>
                            <td width="NaN">
                                <p>Consideramos que temos um interesse legítimo em responder aos pedidos ou questões que nos colocar através dos diversos canais de contacto existentes. Entendemos que o tratamento destes dados também é benéfico para si, na medida em que nos permite prestar-lhe uma assistência adequada e responder às questões colocadas. Quando nos contactar, em particular, para a gestão de incidentes relacionados com a sua encomenda ou com o artigo/serviço adquirido através da Plataforma, o tratamento dos seus dados é necessário para a celebração do contrato de compra. Quando o seu pedido estiver relacionado com o exercício dos direitos sobre os quais o informamos abaixo, ou com reclamações relacionadas com os nossos produtos ou serviços, estamos legalmente autorizados a tratar os seus dados para efeitos de conformidade com as nossas obrigações legais.</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>. Marketing</p>
                            </td>
                            <td width="NaN">
                                <p>Estamos legalmente autorizados a tratar os seus dados para efeitos de marketing uma vez que nos dá o seu consentimento, por exemplo, quando aceita receber informações personalizadas através de diversos canais, quando aceita receber notificações push no seu telemóvel ou configura as definições do seu dispositivo móvel para permitir publicidade personalizada, ou quando aceita os termos e condições para participar numa ação promocional ou para publicar as suas fotografias na Plataforma ou nos nossos canais de redes sociais. Para lhe proporcionar serviços personalizados, ou para lhe mostrar informações personalizadas, quer seja na nossa Plataforma, ou na de terceiros, e ainda para envolver em enriquecimento de dados, consideramos que temos interesse legítimo em realizar uma verificação de perfil com as informações que possuímos sobre si (como, por exemplo, histórico de navegação, preferências ou compras) e os dados pessoais que nos tenha fornecido como, por exemplo, intervalo de idade ou idioma, uma vez que entendemos que o processamento destes dados é também benéfico para si uma vez que lhe permite melhorar a sua experiência de utilizador e aceder às informações de acordo com as suas preferências. </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Análise da funcionalidade e da qualidade </p>
                            </td>
                            <td width="NaN">
                                <p>Consideramos que temos um interesse legítimo na análise da funcionalidade da Plataforma e do grau de satisfação do utilizador, pois entendemos que o tratamento destes dados também é benéfico para si, uma vez que a finalidade é melhorar a experiência do utilizador e oferecer um serviço com mais qualidade. </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p> </p>

                    <p> </p>

                    <p>DURANTE QUANTO TEMPO CONSERVAREMOS OS SEUS DADOS?</p>

                    <p>O prazo de conservação dos seus dados dependerá das finalidades para as quais os tratamos, conforme como se explica abaixo: </p>

                    <p><br />
                        <br />
                    </p>

                    <table width="NaN">
                        <colgroup>
                            <col />
                            <col />
                        </colgroup>
                        <tbody>
                        <tr>
                            <td width="NaN">
                                <p>Finalidade</p>
                            </td>
                            <td width="NaN">
                                <p>Prazo de conservação</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Gerir o seu registo como utilizador da Plataforma</p>
                            </td>
                            <td width="NaN">
                                <p>Trataremos os seus dados durante o tempo em que mantiver a condição de utilizador registado (isto é, até decidir cancelar a sua subscrição).</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Desenvolvimento, cumprimento e execução do contrato de compra ou prestação de serviços </p>
                            </td>
                            <td width="NaN">
                                <p>Trataremos os seus dados durante o tempo necessário para gerir a compra dos produtos ou serviços que adquiriu, incluindo possíveis devoluções, queixas ou reclamações associadas à compra do produto ou serviço em questão. Por vezes, apenas trataremos os dados até ao momento em que decidir, como é o caso dos dados de pagamento (cartão) que nos pediu para armazenar para compras futuras (sempre que tal característica estiver disponível).</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>. Apoio ao Cliente</p>
                            </td>
                            <td width="NaN">
                                <p>Trataremos os seus dados durante o tempo necessário para atender a sua solicitação ou pedido.</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Marketing</p>
                            </td>
                            <td width="NaN">
                                <p>Trataremos os seus dados até cancelar a sua subscrição da newsletter. Assim, mostrar-lhe-emos publicidade personalizada até que altere as definições do seu telemóvel ou navegador como, por exemplo, se a permissão para tal for revogada. Caso participe em ações promocionais, conservaremos os seus dados por um prazo de seis (6) meses a partir do término da ação.</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="NaN">
                                <p>Análise da funcionalidade e da qualidade</p>
                            </td>
                            <td width="NaN">
                                <p>Trataremos os seus dados de forma esporádica durante o tempo em que realizarmos uma determinada ação ou inquérito de qualidade ou até anonimizarmos os seus dados de navegação. </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p> </p>

                    <p>QUAIS SÃO OS SEUS DIREITOS QUANDO NOS DISPONIBILIZA OS SEUS DADOS </p>

                    <p>Comprometemo-nos a respeitar a confidencialidade dos seus dados pessoais e a garantir-lhe o exercício dos seus direitos. Com isto presente, nós os Controladores Conjuntos, acordámos que poderá exercer os seus direitos sem qualquer custo, enviando-nos umIndependentemente de tratarmos os seus dados durante o tempo estritamente necessário para cumprir a finalidade correspondente, conservaremos posteriormente os mesmos devidamente guardados e protegidos durante o tempo em que puderem surgir responsabilidades decorrentes do tratamento, em conformidade com a legislação em vigor em cada momento. Quando cada uma das possíveis ações prescrever, apagaremos os dados pessoais. </p>

                    <p> </p>

                    <p>PARTILHAMOS OS SEUS DADOS COM TERCEIROS? </p>

                    <p> </p>

                    <p>Para cumprir as finalidades indicadas na presente Política de Privacidade e de Cookies, é necessário darmos acesso aos seus dados pessoais a entidades do Grupo Inditex e a terceiros que nos prestam apoio nos serviços que lhe oferecemos, ou seja: </p>

                    <p>▪ instituições financeiras,</p>

                    <p> ▪ Entidades de prevenção e deteção de antifraude, </p>

                    <p>▪ Prestadores de serviços analíticos e tecnológicos, </p>

                    <p>▪ Prestadores de serviços e parceiros de serviços para logística, transporte e entrega e/ou estabelecimentos parceiros, </p>

                    <p>▪ prestadores de serviços relacionados com o apoio ao cliente, </p>

                    <p>▪ Prestadores de serviços e colaboradores relacionados com marketing e publicidade como, por exemplo, páginas de redes sociais, agências de publicidade ou parceiros de publicidade. Por motivos de eficiência do serviço, alguns dos prestadores mencionados situam-se em territórios localizados fora do Espaço Económico Europeu que não proporcionam um nível de proteção de dados equiparável ao da União Europeia, ou seja os Estados Unidos. Em tais casos, informamos de que transferimos os seus dados com garantias adequadas e mantendo sempre a segurança dos seus dados: </p>

                    <p> ▪ Alguns prestadores são certificados no âmbito do Escudo de Proteção da Privacidade (Privacy Shield), uma certificação que pode consultar no seguinte link: https://www.privacyshield.gov/welcome </p>

                    <p>▪ Com outros prestadores, celebrámos Cláusulas contratuais-tipo aprovadas pela Comissão e cujo conteúdo pode consultar no seguinte link: https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/modelcontracts-transfer-personal-data-third-countries_en </p>

                    <p> </p>

                    <p> e-mail para (<A DEFINIR>), indicando-nos apenas o motivo do seu pedido e o direito que deseja exercer. No caso de considerarmos necessário para o podermos identificar, podemos solicitar uma cópia de um documento de identificação. Nomeadamente, independentemente da finalidade ou do fundamento jurídico ao abrigo do qual tratarmos os seus dados, tem direito a: </p>

                    <p>• Solicitar o acesso aos seus dados pessoais dos quais dispomos. Recordamos que, no caso de ser um utilizador registado na Plataforma, também pode consultar essas informações na secção correspondente à sua conta online. </p>

                    <p>• Solicitar que retifiquemos os dados de que dispomos. Recorde que se for um utilizador registado da Plataforma também pode aceder à secção correspondente aos seus dados pessoais da sua conta para alterar ou atualizar os seus dados pessoais. Em qualquer caso, tenha em conta que, ao fornecer-nos ativamente os seus dados pessoais por qualquer via, garante que os mesmos são autênticos e exatos e compromete-se a notificar-nos de qualquer mudança ou alteração dos mesmos. Qualquer perda ou dano causados à Plataforma ou ao responsável pela Plataforma ou a qualquer terceiro decorrente de uma comunicação de informações erradas, inexatas ou incompletas nos formulários de registo, será responsabilidade exclusiva do utilizador. Recorde que, regra geral, só nos deve fornecer os seus próprios dados pessoais, não os de terceiros, salvo se doutra forma for permitido na presente Política de Privacidade e de Cookies. </p>

                    <p>• Solicitar que apaguemos os seus dados na medida em que já não sejam necessários para a finalidade para a qual necessitamos de continuar a tratá-los, conforme acima explicado, ou quando já não estivermos legalmente autorizados a tratá-los. </p>

                    <p>• Solicitar que cancelemos ou limitemos o tratamento dos seus dados pessoais, o que significa que em determinados casos nos pode solicitar que suspendamos temporariamente o tratamento dos dados ou a sua conservação para além do tempo necessário.  Caso nos tenha dado o seu consentimento para tratar os seus dados para qualquer finalidade, também tem o direito de o retirar em qualquer momento. Algumas das formas pelas quais pode revogar o seu consentimento estão detalhadas na seção 2, na qual explicitamos quais são finalidades do tratamento dos seus dados. Por exemplo, se não desejar que enviemos informações a terceiros para lhe mostrar publicidade, poderá alterar as suas preferências no seu telemóvel reiniciando a sua ID de publicidade ou desativando a publicidade personalizada no seu dispositivo. Se tiver a nossa App instalada num dispositivo iOS, pode alterar as suas preferências em Definições/Privacidade/Publicidade. Se o seu dispositivo for Android, aceda a Definições/Google/Publicidade. Se estiver a visitar a página web, poderá alterar as definições de cookies no seu navegador. Quando obtivermos legitimidade para tratar os seus dados através do seu consentimento ou para fins do contrato, como explicitado na seção 3, também terá direito a solicitar a portabilidade dos seus dados pessoais. Isto significa que terá direito a receber os dados pessoais que nos disponibilizou de forma estruturada, de utilização corrente e de leitura automática, para que possa transmiti-los diretamente a outra entidade sem qualquer tipo de impedimento da nossa parte. Além disso, sendo o tratamento dos seus dados baseado no seu interesse legítimo, também tem o direito de contestar o tratamento destes. Por último, informamos que têm o direito a apresentar uma reclamação à autoridade de controlo em matéria de proteção de dados, nomeadamente a </p>

                    <p>▪ Agência Espanhola de Proteção de Dados <a href="https://www.agpd.es/portalwebAGPD/index-ides-idphp.php">https://www.agpd.es/portalwebAGPD/index-ides-idphp.php</a></p>

                    <p> ▪ A autoridade do país no qual a empresa de retalho se localiza: <a href="http://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm">http://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm</a></p>

                    <p> </p>

                    <p> </p>

                    <p> </p>

                    <p>O QUE ACONTECE QUANDO NOS FORNECE DADOS DE TERCEIROS OU SE UM TERCEIRO NOS TIVER FORNECIDO OS SEUS DADOS?</p>

                    <p> </p>

                    <p>Dispomos de funcionalidades ou serviços que exigem que processemos os dados pessoais de um terceiro que você, como utilizador, ou cliente, nos deverá fornecer como, por exemplo, no caso de ativação e envio do Cartão Oferta ou da gestão da aplicação para o Voucher Presente (sempre que tais características estejam disponíveis), ou quando autorizar um terceiro a recolher uma encomenda nas nossas lojas ou estabelecimentos parceiros. Se nos fornecer dados pessoais de terceiros ou se for necessário que tenhamos que pedir a um terceiro para recolher uma encomenda em seu nome, confirma que os informou dos objetivos e da forma através da qual processamos os seus dados pessoais. Se um terceiro nos tiver fornecido os seus dados, ou se os tiver fornecido você mesmo(a) em resultado de uma característica ou serviço pedido por um dos nossos utilizadores, iremos utilizá-los para gerir a característica ou serviço em questão em cada caso, dentro dos limites dos propósitos listados nesta Política de Privacidade e de Cookies, um link para a qual é sempre incluído nas nossas comunicações. </p>

                    <p> </p>

                    <p>ALTERAÇÕES À POLÍTICA DE PRIVACIDADE E DE COOKIES</p>

                    <p> </p>

                    <p>Poderemos proceder a alterações nas informações enunciadas na Política de Privacidade e de Cookies, quando considerarmos necessário. Se procedermos a estas alterações, o utilizador será notificado por diversos meios através da Plataforma (por exemplo, através de um banner, um pop-up ou de uma notificação push) ou por mensagem para o seu e-mail, quando as alterações em questão forem relevantes para a sua privacidade, para que possa revê-las, avaliá-las e, se for o caso, contestar ou cancelar algum serviço ou funcionalidade. De qualquer forma, aconselhamos que reveja esta Política de Privacidade e de Cookies periodicamente caso sejam feitas pequenas alterações ou sejam introduzidas algumas melhorias interativas, relembrando que esta estará sempre disponível no nosso site e na nossa App.</p>

                    <p> </p>

                    <p>INFORMAÇÕES SOBRE COOKIES</p>

                    <p> </p>

                    <p>Utilizamos cookies e dispositivos similares para facilitar a sua navegação na Plataforma, compreender a forma como interage connosco e, em determinados casos, poder mostrar-lhe publicidade baseada na análise dos seus hábitos de navegação. Leia as nossas informações sobre os Cookies para compreender pormenorizadamente estes e outros dispositivos similares que utilizamos, as suas finalidades e outras informações de interesse.</p>

                    <p><br />
                        <br />
                        <br />
                        <br />
                    </p>

                    <p>Política de Cookies</p>

                    <p> </p>

                    <p>Antes de começar... </p>

                    <p> </p>

                    <p>Nesta Política de Cookies encontrará informação sobre a utilização que fazemos dos cookies e dispositivos semelhantes que são instalados nos terminais dos nossos clientes e utilizadores. Ocasionalmente, a utilização de cookies pode estar relacionada com o tratamento de dados pessoais, por isso, deve consultar a nossa Política de Privacidade, acessível na nossa Plataforma, se desejar informação sobre como utilizamos os dados pessoais dos nossos clientes e utilizadores, sobre como exercer os seus direitos ou sobre a terminologia que usamos para nos referirmos à nossa Plataforma (Site, App ou Lojas Físicas).</p>

                    <p> </p>

                    <p>O que é um Cookie?</p>

                    <p> </p>

                    <p>Um Cookie é um pequeno ficheiro de texto que um site, app ou outra plataforma armazena no seu computador, tablet, smartphone ou qualquer outro dispositivo semelhante, com informação sobre a sua navegação ou utilização, como uma etiqueta que identifica o seu dispositivo. Os Cookies são necessários, por exemplo, para facilitar a navegação e saber como é que os utilizadores interagem com as plataformas, de modo a permitir a sua melhoria. Também são muito úteis para oferecer publicidade, segundo as preferências do utilizador, assim como para outras finalidades descritas mais adiante. Os Cookies não danificam o seu computador ou dispositivo. Quando falamos de "Cookies" também nos referimos a outras tecnologias semelhantes de instalação e/ou recolha de informação no seu dispositivo ou sobre o seu dispositivo (tais como flash cookies, web beacons ou bugs, pixels, HTML5 [de armazenamento local] e tecnologias SDK para formatos app). Além disso, o termo “Cookies” também é aplicável para a utilização de técnicas de fingerprinting, ou seja, técnicas de combinação de informação que nos ajudam a identificar o seu dispositivo. Ocasionalmente, estas tecnologias funcionam de maneira conjunta com cookies para compilar e armazenar informação, quer para lhe proporcionar determinadas funcionalidades ou serviços na nossa Plataforma, quer para lhe mostrar publicidade nas plataformas de terceiros, tendo em conta a sua navegação. Esta explicação é uma amostra geral do que se entende por Cookies, apenas para efeitos informativos. Os Cookies que utilizamos de modo específico vêm descritos no painel de configuração de cookies, acessível na nossa Plataforma.</p>

                    <p><br />
                        <br />
                    </p>

                    <p>Que tipos de Cookies existem?</p>

                    <p> </p>

                    <p>Esta secção proporciona uma visão geral dos tipos de Cookies que se podem utilizar num ambiente online. Em função do seu proprietário, os Cookies podem classificar-se em: </p>

                    <p>a. Cookies próprias: São aqueles que são enviados para o computador ou dispositivo do utilizador a partir de um equipamento ou domínio gerido pelo próprio editor e a partir do qual se oferece a plataforma ou o serviço solicitado pelo utilizador. </p>

                    <p>b. Cookies de terceiros: São aqueles que são enviados para o computador ou dispositivo do utilizador a partir de um equipamento ou domínio que não é gerido pelo editor, mas por outra entidade que trata os dados obtidos através dos cookies.</p>

                    <p> </p>

                    <p>Em função da sua finalidade, os Cookies podem classificar-se em:</p>

                    <p> </p>

                    <p>a. Cookies estritamente necessários (técnicos): São aqueles que permitem ao utilizador a navegação através de um site, plataforma ou aplicação e a utilização das diferentes opções ou serviços que neles existam como, por exemplo, controlar o tráfego, identificar dados ou a sessão, aceder a secções ou conteúdos de acesso restrito, recordar os elementos integrantes de uma encomenda, fazer o processo de compra de uma encomenda, gerir pagamentos, controlar fraudes ligadas à segurança do serviço, utilizar elementos de segurança durante a navegação, solicitar a inscrição ou participação num evento, armazenar conteúdos para a difusão de vídeos ou som, habilitar conteúdos dinâmicos (por exemplo, animação de carregamento de um texto ou imagem) ou partilhar conteúdos através de redes sociais. Os cookies técnicos, sendo estritamente necessários, são descarregados, por defeito, quando permitem mostrar a plataforma ou prestar o serviço solicitado pelo utilizador.</p>

                    <p> b. Cookies de funcionalidade ou personalização: São aqueles que permitem lembrar informação para que o utilizador possa aceder ao serviço ou à plataforma com determinadas características passíveis de diferenciar a sua experiência da de outros utilizadores, como, por exemplo, a língua, o número de resultados a mostrar quando o utilizador faz uma pesquisa, o aspecto ou conteúdo do serviço em função do tipo de navegador usado pelo utilizador ou da região a partir da qual acede ao serviço, etc. A não aceitação destes Cookies pode originar um desempenho lento do site ou recomendações mal adaptadas. </p>

                    <p>c. Cookies de análise: São aqueles que permitem quantificar o número de utilizadores, as seções visitadas na plataforma e o modo como interagem com a mesma, para assim realizar a medição e análise estatística da utilização efetuada pelos utilizadores, com o objetivo de introduzir melhorias, em função da análise dos dados de utilização dos utilizadores da plataforma ou serviço. </p>

                    <p>d. Cookies de publicidade comportamental: São aqueles que armazenam informação do comportamento dos utilizadores, obtida através da observação contínua dos seus hábitos de navegação, o que permite desenvolver um perfil específico para mostrar publicidade em função do mesmo. Estes cookies permitem a gestão, da forma mais eficaz possível, dos espaços de publicidade que, se for o caso, tenham sido incluídos diretamente pelo editor ou em colaboração com terceiros. </p>

                    <p> </p>

                    <p>Para que são utilizados os Cookies na nossa Plataforma? </p>

                    <p> </p>

                    <p>Os Cookies são uma parte essencial do funcionamento da nossa Plataforma. O principal objetivo dos nossos Cookies é tornar a sua experiência de navegação mais cómoda e eficiente. Por exemplo, são utilizados para recordar as suas preferências (língua, país, etc.) durante a navegação e em futuras visitas. Também utilizamos os nossos Cookies para melhorar continuamente os nossos serviços e a Plataforma, assim como para lhe poder oferecer publicidade personalizada, segundo os seus hábitos de navegação. A informação recolhida nos Cookies também nos permite melhorar a nossa Plataforma através de estimativas sobre dados estatísticos e padrões de utilização (número de visitas, seções mais visitadas, tempo de visita, etc.), conhecer estatisticamente o modo como os utilizadores interagem com a Plataforma para a melhoria dos nossos serviços, assim como a adaptação da Plataforma aos seus interesses individuais, a aceleração das pesquisas, etc. Ocasionalmente, podemos utilizar Cookies para obter informação que nos permita mostrar, a partir da nossa Plataforma, as plataformas de terceiros, ou por qualquer outro meio, publicidade baseada na análise dos seus hábitos de navegação (produtos visitados, secções consultadas, etc.). Em todo o caso, nos Cookies que utilizamos, nunca armazenamos informação sensível como palavras passe, dados de cartões de crédito ou débito, etc. </p>

                    <p> </p>

                    <p>Como posso gerir a utilização de Cookies nesta Plataforma? </p>

                    <p> </p>

                    <p>No painel de configuração de Cookies, acessível em todo o momento na nossa Plataforma, pode obter toda a informação sobre os Cookies utilizados por esta Plataforma, juntamente com a informação sobre o propósito, duração e gestão (própria ou por terceiros) de cada um deles, para que possa gerir a ativação e desativação da utilização dos Cookies que não são estritamente necessários para o funcionamento da Plataforma. Alternativamente, se estiver a navegar na internet, pode desabilitar a utilização de Cookies no seu navegador. Indicamos-lhe a maneira de o fazer nos navegadores mais populares:</p>

                    <p> </p>

                    <p> • Google Chrome</p>

                    <p>• Internet Explorer </p>

                    <p>• Mozilla Firefox</p>

                    <p> • Safari</p>

                    <p> </p>

                    <p>Esta possibilidade de evitar a utilização de Cookies pode ser levada a cabo em qualquer altura. Deve ter em conta que, tanto a sua gestão do painel de configuração de Cookies, como a sua opção de recusar os Cookies, é específica para cada navegador que esteja a utilizar. Portanto, se optar por configurar os Cookies de uma forma num dispositivo e desejar que a sua opção se aplique de maneira semelhante a outro dispositivo, deve ativar a mesma opção para esse outro dispositivo. Adicionalmente, em relação aos Cookies de terceiros com a finalidade de proporcionar publicidade baseada nos seus interesses, deve ter em conta que determinados terceiros podem ser membros de algum dos seguintes programas de autorregulação de publicidade comportamental online, com as opções correspondentes de exclusão voluntária:</p>

                    <p> • Network Advertising Initiative (NAI) - http://www.networkadvertising.org/choices/ </p>

                    <p>• Google Analytics - <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a></p>

                    <p> </p>

                    <p>Quem utiliza a informação armazenada nos Cookies? </p>

                    <p> </p>

                    <p>A informação armazenada nos Cookies da nossa Plataforma é utilizada exclusivamente por nós, com exceção dos Cookies identificados na secção 2 como “Cookies de terceiros”, que são utilizados e geridos por entidades externas para nos prestarem serviços com o propósito de melhorar os nossos serviços e a experiência do utilizador ao navegar na nossa Plataforma. Mais informações no painel de configuração de Cookies, acessível em todo o momento na nossa Plataforma. Para obter informações mais detalhadas sobre o tratamento dos seus dados pessoais na nossa colaboração com terceiros e daqueles que são sujeitos a transferências internacionais de dados, deve ler a nossa Política de Privacidade, acessível na nossa Plataforma, e as políticas de privacidade / configurações de privacidade destes terceiros colaboradores, acessíveis através das suas plataformas.</p>

                </div>

            </div>
        </div>

    </div>
</section>
{% endblock %}